.sidebar ul li:hover{
    background-color: rgb(159, 155, 155);;
    border-radius: 10px; 
    cursor: pointer;
}

.sidebar ul li:hover a{
    color: black;  
}

.active1{
    background-color: rgb(159, 155, 155);;
    border-radius: 10px;
    color: white;
}